<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Addict</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="QuizTime est un jeu multijoueur en ligne et en temps réel. Invitez vos amis pour les défier dans sur des questions de culture générale !">
    <meta name="keywords" content="Temps Réel, Fun, Quiz">
    <meta name="author" content="Damien">
    <link rel="icon" type="image/png" href="images/favicon/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-rCA2D+D9QXuP2TomtQwd+uP50EHjpafN+wruul0sXZzX/Da7Txn4tB9aLMZV4DZm" crossorigin="anonymous">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/loader.css" rel="stylesheet">
</head>
<body class="main-container">

