
<%- include('./partials/header'); -%>

<main>
    <div class="container">
        <a href="/creer-partie" class="link home-link">Créer une nouvelle partie</a>
        <a href="/parties" class="link home-link">Rejoindre une partie</a>
    </div>
</main>

<%- include('./partials/footer'); -%>
