
<%- include('./partials/header'); -%>

<main>
    <div class="container">
        <a href="/main-game" class="link home-link">Créer une nouvelle partie</a>
        <a href="/join-game" class="link home-link join">Rejoindre une partie</a>
    </div>
</main>

<%- include('./partials/footer'); -%>
