
<%- include('./partials/header'); -%>

<main class="container home-container">
    <div class="row">
        <div class="col col-sm-7 home-img-mob">
            <h3 class="title-h3 home-title">Affronte tes amis dans des quiz en live ! </h3>
            <div class="tuto-container">
                <p class="tuto-p">Pour jouer rien de plus simple :</p>
                <ul class="tuto-ul">
                    <ol class="tuto-ol">1 - Crée une partie dans un onglet de ton navigateur.</ol>
                    <ol class="tuto-ol">2 - Laisse l'onglet ouvert.</ol>
                    <ol class="tuto-ol">3 - Chaque joueur rejoins la partie créée sur un autre appareil (mobile, tablette...).</ol>
                    <ol class="tuto-ol">4 - Défie tes amis sur plus de 1000 questions fun !</ol>
                </ul>
            </div>
            <div class="d-flex flex-row bd-highlight mb-3 btn-container">
                <a href="/main-game" class="btn-own btn-game">Créer une partie</a>
                <a href="/join-game" class="btn-own btn-game">Rejoindre une partie</a>
            </div>
        </div>
        <div class="col col-sm-4 home-img-desk">
        </div>
    </div>
</main>
<footer class="footer home-footer">

</footer>

<%- include('./partials/footer'); -%>
