
<%- include('./partials/header'); -%>

<main>
    <div class="container">
        <h3 class="title-h3">Défiez vos amis dans des quiz fun</h3>
        <div class="home-links">
            <a href="/main-game" class="link home-link">Créer une nouvelle partie</a>
            <a href="/join-game" class="link home-link join">Rejoindre une partie</a>
        </div>
    </div>
</main>

<%- include('./partials/footer'); -%>
