
<%- include('./partials/header'); -%>

<main class="container home-container">
    <div class="row">
        <div class="col col-sm-6">
            <h3 class="title-h3">Venez défier vos amis sur plus de 1000 questions fun</h3>
            <div class="d-flex flex-row bd-highlight mb-3">
                <a href="/main-game" class="btn btn-primary">Créer une nouvelle partie</a>
                <a href="/join-game" class="btn btn-secondary">Rejoindre une partie</a>
            </div>
        </div>
        <div class="col col-sm-6">
            <img src="images/home-bg.png" alt="home-bg">
        </div>
    </div>
</main>

<%- include('./partials/footer'); -%>
