
<%- include('./partials/header'); -%>

<main>
    <div class="container">
        <a href="/nouvelle-partie" >Créer une nouvelle partie</a>
        <a href="" >Rejoindre une partie</a>
    </div>
</main>

<%- include('./partials/footer'); -%>
