<%- include('./partials/header'); -%>

<main>
    <div class="container" id="player-view">
        <!-- LISTE DES PARTIES -->
        <div class="games-list-container">
            <h3 class="title-h3">Listes des quiz</h3>
            <div class="games-list">
                <ul class="games-list-ul">

                </ul>
            </div>
        </div>

        <!-- PLAYER LOADER -->
        <div class="player loader-container">
            <p class="loader-status">En attente des joueurs pour démarrer la partie</p>
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>

        <!-- PLAYER FORM JOIN GAME -->
        <form class="form-join-game">
            <input type="text" name="name" placeholder="Nom" class="form-input" autocomplete="off" autofocus>
            <input type="password" name="password" placeholder="Mot de passe" class="form-input" autocomplete="off">
            <input type="submit" class="form-input btn" value="Rejoindre">
        </form>

        <!-- PLATEAU DU JOUEUR -->
        <div class="player-board-game">

        </div>
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
</script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript" src="js/games.js"></script>

<%- include('./partials/footer'); -%>