<%- include('./partials/header'); -%>

<main class="container game-container">
    <!--
    <form action="" method="post" class="form-new-game">
        <fieldset class="fieldset">
            <legend class="legend">Créer une nouvelle partie</legend>
            <div class="form-group">
                <label for="name">Nom de la partie</label>
                <input type="text" id="name" name="name" placeholder="nom de la partie" class="form-control form-input" autocomplete="off" autofocus>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="mot de passe" class="form-control form-input" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="number">Mot de passe</label>
                <input type="number" name="number" id="number" class="form-control form-input" placeholder="nombre de joueur" autocomplete="off" min="2" max="6" value="2">
                <small id="emailHelp" class="form-text text-muted">De 2 à 6 joueurs !</small>
            </div>
            <button type="submit" class="btn-own btn-game btn-submit">Créer</button>
        </fieldset>
    </form>
    -->
    <div class="main-game-container" style="display: flex;">
        <h3 class="title-h3 main-game-title">Damien</h3>
        <div class="quiz-container">

            <div class="question-container">
                <h3 class="question">Dans la série Friends quel est le plat préféré de Joey Tribiani ?</h3>
                <ul class="option-container">
                    <li class="option" data-answer="10">La pizza</li>
                    <li class="option" data-answer="11">Les raviolis</li>
                    <li class="option" data-answer="12">Les sandwitch</li>
                    <li class="option" data-answer="13">Les épinards</li>
                </ul>
            </div>
        </div>

        <div class="players-container">
            <ul class="players-container-ul">
                <li class="character-cont" data-player-id="4ghxf2yOYXukX9yQAAYn">
                    <div class="player-li">
                        <span>Damien</span>
                        <span class="player-score">3590</span>
                    </div>
                </li>
                <li class="character-cont" data-player-id="4ghxf2yOYXukX9yQAAYn">
                    <div class="player-li">
                        <span>Damien</span>
                        <span class="player-score">3590</span>
                    </div>
                </li>
                <li class="character-cont" data-player-id="4ghxf2yOYXukX9yQAAYn">
                    <div class="player-li">
                        <span>Damien</span>
                        <span class="player-score">3590</span>
                    </div>
                </li>
                <li class="character-cont" data-player-id="4ghxf2yOYXukX9yQAAYn">
                    <div class="player-li">
                        <span>Damien</span>
                        <span class="player-score">3590</span>
                    </div>
                </li>
                <li class="character-cont" data-player-id="4ghxf2yOYXukX9yQAAYn">
                    <div class="player-li">
                        <span>Damien</span>
                        <span class="player-score">3590</span>
                    </div>
                </li>
                <li class="character-cont" data-player-id="4ghxf2yOYXukX9yQAAYn">
                    <div class="player-li">
                        <span>Damien</span>
                        <span class="player-score">3590</span>
                    </div>
                    <img src="/public/images/assets/characters/idle/zombie1/Idle1.png" alt="character">
                </li>
            </ul>
        </div>
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
</script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<%- include('./partials/footer'); -%>