
<%- include('./partials/header'); -%>

<main class="container home-container">
    <div class="row">
        <div class="col col-sm-7 home-img-mob">
            <h3 class="title-h3 home-title">Cette page n'est pas encore prête ! </h3>
        </div>
    </div>
</main>
<footer class="footer home-footer">

</footer>

<%- include('./partials/footer'); -%>
