body {
    background: linear-gradient(135deg, #2A74FF, #9198e5);
    font-family: 'Baloo Bhaina 2', cursive;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Bhaina 2', cursive;
}

.home-links {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.home-link {
    width: 20rem;
    height: 10rem;
    background-color: #F77D36;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    font-family: 'Baloo Bhaina 2', cursive;
}

.link.join {
    background-color: #E31D65;
}

.form-new-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #F77D36;
    padding: 6rem 0;
    border-radius: 15px;
}

.form-input {
    width: 80%;
    min-width: 15rem;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 15px;
    border: none;
    font-size: 1.1rem;
    text-align: center;
    outline: none;
}

.form-title {
    font-size: 2rem;
    margin-bottom: 2rem
}

.btn {
    background-color: #32A955;
}

/* MAIN GAME */

.main-game-container {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.title-h3 {
    color: #FFFFFF;
    font-size: 3rem;
    margin-top: 3rem;
}

/* loader */

.loader-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player.loader-container {
    display: none;
}

.loader-status {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

/* Listes games */

.games-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.games-list {
    width: 100%;
}

.games-list-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-li {
    background-color: #E31D65;
    color: #FFFFFF;
    font-size: 1.3rem;
    margin: 0.5rem 0;
    padding: 1rem 1rem;
    width: 50%;
    cursor: pointer;
}

/* Liste des joueurs */

.players-container {
    width: 75vw;
    margin-top: 1rem;
    border-radius: 5px;
}

.players-container-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* form join game */

.form-join-game {
    display: none;
    flex-direction: column;
    align-items: center;
}

.player-li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    margin: 1rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 1.5rem;
}

/* Questions */

.quiz-container {
}

.title-h4 {
    font-size: 2rem;
    color: #FFFFFF;
    margin: 2rem;
    text-align: center;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option {
    text-align: center;
    font-size: 1.3rem;
    color: #FFFFFF;
    margin: 1rem;
    min-width: 300px;
    padding: 0.5rem 1rem;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

@media (min-width: 1100px) {
    .form-new-game {
        width: 50%;
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}