body {
    font-family: 'Rubik One', sans-serif !important;
}

/* btn */

button, button:hover, button:active {
    outline: none !important;
}

.btn-own {
    font-family: 'Rubik One', sans-serif !important;
    text-decoration: none;
    border-radius: 0;
    color: #111111;
    background-color: #FF3019;
    font-weight: bold;
    border: 1px solid #111111 !important;
    padding: 1rem 1rem;
    letter-spacing: 2px;
    box-shadow: 7px 7px 0px #111111;
    text-decoration: none;
}

.btn-own:hover, .btn-own:active, .btn-own:focus {
    background-color: #FF3019 !important;
    color: #111111 !important;
    text-decoration: none;
}

.btn-game:hover, .btn-game:active, .btn-game:focus {
    background-color: #F2CB05 !important;
    color: #111111 !important;
    text-decoration: none;
}

.btn-game {
    background-color: #F2CB05 !important;
    font-size: 1.4rem;
    margin: 0 1rem 0 1rem;
    box-shadow: 10px 10px 0px #111111;
}

.btn-game:active {
    transform: translate(0.1rem, 0.1rem);
    box-shadow: 1px 2px 0px #111111;
    border: 1px solid #111111 !important;
}

.nav-item:active {
    transform: translate(0.1rem, 0.1rem);
}

.nav-item:active .btn-own {
    box-shadow: 1px 2px 0px #111111;
    border: 1px solid #111111 !important;
}

.btn-submit, .btn-submit:hover, .btn-submit:active, .btn-submit:focus {
    background-color: #2651A6 !important;
}


/* Main */

.main-container {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Baloo Bhaina 2', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw !important;
    background-color: #2651A6;
    color: #FFFFFF;
}

.title-h3 {
    color: #FFFFFF;
    font-size: 2.5rem;
    margin: 0rem 0rem 3rem 1rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: center;
}


/* Header */
.header {
    width: 90vw;
}

.header nav {
    background-color: #2651A6 !important;
    margin-top: 1rem;
}

.nav-a {
    margin: 0 1rem;
}

.navbar-brand {
    background-color: #111111;
    padding: 0.5rem 0.5rem;
    color: #F2CB05 !important;
    font-weight: bold;
    font-size: 1.7rem;
    color: white;
    letter-spacing: -3px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* --------------HOME------------- */

.home-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 90vw !important;
}

.home-container .row {
    display: flex;
    flex-direction: column;
}

.home-title {
    background-color: #F2CB05;
    color: #111111;
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 0.5rem 0;
    box-shadow: 10px 10px 0px #111111;
    letter-spacing: -2px;
    margin-right: auto !important;
    margin-left: auto !important;
    transform: rotate(-3deg);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100% !important;
}

.home-img-mob {
    background-color: #222222;
    box-shadow: 21px 21px 0px #111111;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.home-img-desk {
    background-position: right 35% bottom 45%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container .btn {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 1.4rem;
}

/* home tuto */
.tuto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tuto-p {
    font-size: 1.3rem;
    margin: 0 0 0 0rem;
}

.tuto-ul {
    margin: 1rem 0 3rem 1rem;
}

.tuto-ol {
    margin: 0.5rem 1rem;
    font-size: 1rem;
}

/* home footer */


/* --------------CREATE GAME------------- */

.game-container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 85% !important;
}

.form-new-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    box-shadow: 21px 21px 0px #111111;
    min-height: 50vh;
    padding: 2rem;
    width: 100%;
    margin-top: -7rem;
}

.form-input, .form-input:focus {
    background-color: #111111;
    border-radius: 0 !important;
    outline: none;
    color: #2651A6;
    font-size: 1.1rem;
}

.fieldset {
    width: 80%;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    background-color: #F2CB05;
    color: #111111;
    box-shadow: 10px 10px 0px #111111;
    padding: 0.5rem;
    letter-spacing: -1px;
    width: 50%;
    min-width: 20rem;
    margin-right: auto;
    margin-left: auto;
    transform: rotate(-3deg);
}

.form-group {
    margin: 0 0 2rem 0;
}

.form-group label {
    font-size: 1.1rem;
    color: #2651A6;
}

.submit {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 10rem;
}

/* --------------MAIN GAME------------- */

.main-game-container {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #111111;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-game-container .main-game-title {
    margin: 0rem !important;
    padding: 0 2rem 0 2rem;
    line-height: 2rem;
    background-color: #2651A6;
    font-size: 1.2rem;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* questions */

.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 780px;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    border-radius: 10px;
    margin-top: 0rem;
    padding: 1rem;
}

.question {
    font-size: 2.1rem;
    color: #F2F2F2;
    margin: 0rem 0 1.5rem 0;
    text-align: center;
}

.option-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.option {
    text-align: center;
    font-size: 1.3rem;
    margin: 0.5rem;
    padding: 0.9rem 1rem;
    width: 35%;
    cursor: pointer;
    background-color: #F2F2F2;
    border: 2px solid #2651A6;
    color: #000000;
}

.correct-option {
    background-color: #32A955;
    animation: 2.5s flash;
}

/* players */

.players-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 1rem;
}

.players-container-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.player-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    margin: 3rem 1rem 1rem 1rem;
    width: 8rem;
    height: 10rem;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    color: #111111;
    font-size: 1.5rem;
    text-align: center;
    border: 5px solid #F2CB05;
    border-bottom: 0px;
}

.player-li span {
    margin: 0.5rem 0;
}

.player-li :nth-child(2) {
    background-color: #151718;
    color: #F2CB05;
    padding: .5rem 0;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 90%;
}

/* --------------PLAYER GAME------------- */

/* games list */

.player-game-container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 85vw !important;
}

.games-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 80%;
    background-color: #222222;
    box-shadow: 21px 21px 0px #111111;
    min-height: 50vh;
    padding: 2rem;
    width: 100%;
    margin-top: -7rem;
}

.games-list-container .title-h3 {
    width: 40%;
    min-width: 20rem;
}

.games-list {
    width: 100%;
    overflow: auto;
    background-color: #111111;
    padding: 0rem 0 0 0;
}

.games-list-ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-li {
    background-color: #2651A6;
    color: #111111;
    margin: 1rem;
    padding: 01rem 2rem;
    width: 50%;
    min-width: 15rem;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}

/* form join game */

.form-join-game {
    display: none;
    flex-direction: column;
    align-items: center;
    min-height: 60%;
    width: 80%;
    background-color: #222222;
    box-shadow: 21px 21px 0px #111111;
    min-height: 50vh;
    padding: 2rem;
    width: 100%;
    margin-top: 2rem;
}

.form-join-game .title-h3 {
    width: 40%;
    min-width: 20rem;
}

@media (min-width: 400px) {
    .home-img-mob {
        margin: 0rem;
    }
}


@media (min-width: 1025px) {
    .home-container {
        max-width: calc(100vw - 90px) !important;
        min-height: 725px !important;
    }

    .header {
        width: 90vw;
    }

    .navbar-brand {
        margin-left: 0 !important;
    }

    .home-container .row {
        display: flex;
        flex-direction: row;
    }

    .home-container .home-img-desk {
        display: initial !important;
    }

    .col {
        height: 55vh !important;
        padding:0 2rem 0 2rem !important;
    }

    .home-img-mob {
        background-image: none;
        min-height: 430px;
        margin: -2rem 0 0 4rem;
    }

    .title-h3 {
        font-size: 2.3rem;
        margin: 0rem 0rem 3rem 0rem;
        font-weight: 400;
        text-align: initial;
    }

    .tuto-container {
        display: initial;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tuto-p {
        margin: 0 0 0 0rem;
    }

    .tuto-ul {
        margin: 1.5rem 0 4rem 3rem;
    }

    .tuto-ol {
        margin: 0.7rem 1rem;
        font-size: 1rem;
    }

    .form-join-game {
        margin-top: -7rem;
    }
}

@keyframes flash {
    0% {
        background-color: #fff;
    }

    20% {
        background-color: #32A955;
    }

    40% {
        background-color: #fff;
    }

    60% {
        background-color: #32A955;
    }

    80% {
        background-color: #fff;
    }

    100% {
        background-color: #32A955;
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}